body {
    background-color: skyblue;
}
#capture {
    position: relative;
    left: 40%;
}
#content {
    position: relative;
    top: 100px;
    left: 10%;
    right: 10%;
    background-color: azure;
}